In [3]:
# What is variables ?
# variables is a memory named location which stores the data or value on a specific location.
# variables is like a container used to store data or values or information.

# Variable rules in python.

# 1.Variable can not start with any number.
# 2.Variable can not start with any symbol ,except(_)
# 3.Variable can not conatain whitespace.
# 4.Variable can start with a to z char.
# 5.Variable A and variable a are different 
# because python variables are case-senstive
# 6.Variable can not contains any symbol ,except(_)

In [5]:
# 2="iq-india"
# print(2)

In [7]:
# @="iq-india"
# print(@)

In [8]:
_="iq-india"
print(_)

iq-india

In [9]:
abc="iq-india"
print(abc)

iq-india

In [10]:
aman=3000
print(aman)

3000

In [15]:
aman_xyz=40
print(aman_xyz)

40

In [ ]:
# 1.wap to add ,sub ,mul ,div of two numbers.

In [25]:
# Addition
num1=20
num2=30
res=num1+num2
# print("Sum of",num1,"and",num2 ,"is :",res)
print(f"Sum of {num1} and {num2} is : {res}")

Sum of 20 and 30 is : 50

In [28]:
num1=20
num2=30
res=num1+num2
print(type(num1))
print(id(num1))
print(id(num2))

<class 'int'>
140729386497544
140729386497864

In [31]:
a=10
b=10
print(id(a))
print(id(b))

140729386497224
140729386497224

In [38]:
# 2.Wap to swap to values.
z=20
y=30
print(f"Before swapping value of {z} and {y}")
temp=z
z=y
y=temp
print(f"After swapping value of {z} and {y}")

Before swapping value of 20 and 30
After swapping value of 30 and 20

In [48]:
# 3.wap a program to print the last digit of 8786.
num=87868954
res=num%100
print(res)

54

In [ ]:
# Task
1.Wap to swap string values.
first_name="aman"
last_name="roy"

2.
What is python 
Use case/application
where we use python 
python features
How python helps day to day life in cyber expert.

In [6]:
# Data Types. primitive data and non-primitive data types
#------ Primitive data type
# numbers : integer (int) floating (float)
# string : str
# boolean : True(1) , False(0)

# ------ Non-primitive data types
# collections (data strucuture)
# list
# dictionary
# string
# tuple
# sets

In [17]:
# numbers
# Type conversion(automatic) and type casting(forcefully).
# input() : it returns string type data by default.

num1=int(input("Enter your number 1st : "))
num2=int(input("Enter your number 2nd : "))
print(type(num1),type(num2))
res=num1+num2
print(f"Sum = {res}")

Enter your number 1st :  23.50

ValueError: invalid literal for int() with base 10: '23.50'

In [18]:
# float
num1=float(input("Enter your number 1st : "))
num2=float(input("Enter your number 2nd : "))
print(type(num1),type(num2))
res=num1+num2
print(f"Sum = {res}")

Enter your number 1st :  23
Enter your number 2nd :  45

<class 'float'> <class 'float'>
Sum = 68.0

In [21]:
num1=float(input("Enter your number 1st : "))
print(num1)

Enter your number 1st :  34.9000

34.9

In [27]:
n=int(input("Enter you msg : "))
print(n)
print(type(n))

Enter you msg :  idflsdfjldks

ValueError: invalid literal for int() with base 10: 'idflsdfjldks'

In [39]:
num=str(7800)+"-"+"zehar"
print(num)
print(type(num))

7800-zehar
<class 'str'>

In [42]:
z=49.8
print(type(z))

<class 'float'>

In [44]:
z=float(49)
print(z)
print(type(z))

49.0
<class 'float'>

In [14]:
# strings
user_name="Dev"
user_adrs=f"""
{user_name}
Noida âœ…
mayur-vihar-phase-3
110096 
New Delhi"""
print(user_adrs)

Dev
Noida âœ…
mayur-vihar-phase-3
110096
New Delhi

In [25]:
user_id_no=input("Enter Your ID       : ğŸ“")
user_name=input("Enter Your name       : ğŸ“")
user_address=input("Enter Your Address : ğŸ“")
user_mob=input("Enter Your Mobile no   : ğŸ“")
s="-"
# data=user_name+" "+user_address+" "+user_mob
data=f"""
-------{user_id_no}---------
{user_name} 
{user_address} 
{user_mob}
{s*30}
"""
print(data)

Enter Your ID       : ğŸ“ 456
Enter Your name       : ğŸ“ Dev
Enter Your Address : ğŸ“ Delhi
Enter Your Mobile no   : ğŸ“ 98798789

-------456---------
Dev
Delhi
98798789
------------------------------

In [38]:
# Variable update.
balance=300
deposite_bal=1000
balance=balance+deposite_bal
withdraw=800
balance=balance-withdraw
print(balance)

500

In [29]:
user_id_no=input("Enter Your ID        : ğŸ“")
user_name=input("Enter Your name       : ğŸ“")
user_address=input("Enter Your Address : ğŸ“")
user_mob=input("Enter Your Mobile no   : ğŸ“")
s="-"
# data=user_name+" "+user_address+" "+user_mob
# data=f"""
# -------{user_id_no}---------
# {user_name} 
# {user_address} 
# {user_mob}
# {s*30}
# """
data=user_name+"\n"+user_address+"\n"+user_mob
print(data)

Enter Your ID        : ğŸ“ 343
Enter Your name       : ğŸ“ Dev
Enter Your Address : ğŸ“ Delhi
Enter Your Mobile no   : ğŸ“ 78000998

Dev
Delhi
78000998