In [14]:
# Operators : To perform application like addition comapare membership.
# 1.Arithmatic operator (+,-,/(division),//(floor division),%(mod),*,**)
# 2.Comparision/relational operator (>,<,>=,<=,==,!=)
# 3.Logical operator (and,or,not)
# 4.Membership operator (in , not)
# 5.Identity operator (is , is not)
# 6.Assignment operator (+=,*= etc..)
# 7.Bitwise operator (binary 0,1) (left shift,right shift,xor(^),&,!,||)

In [ ]:
# 1.Arithmatic operator (+,-,/(division),//(floor division),%(mod),*,**)
# // = floor division, returns quotients, without float value
# / = division ,returns quotients, but with float value
# num1=10
# num2=3
# res=num1//num2
# print(res)

# % = modulus : Returns remainder
# num1=10
# num2=3
# res=num1%num2
# print(res)

# * = returns multiplication
# num1=10
# num2=3
# res=num1*num2
# print(res)

# ** = returns power
# num1=5
# num2=3
# res=num1**num2
# print(res)

In [29]:
# 2.Comparision/relational operator (>,<,>=,<=,==,!=)
var1=True
var2=True
res=var1!=var2
print(res)

False

In [26]:
# Conditional statments
if condition :
    body of statment

2

In [43]:
aman_age=int(input("Enter your age aman : "))
shubham_age=int(input("Enter your age shubham : "))
if aman_age>shubham_age:
    print(f"Aman : {aman_age} is older than shubham: {shubham_age}")
else:
    print(f"Aman: {aman_age} is not older than shubham: {shubham_age}")

IndentationError: expected an indented block after 'if' statement on line 3 (41912494.py, line 4)

In [46]:
# write a program print reciept of grocery .
# Customer name
# Customer age
# Customer mobile
# Customer prod1
# Customer prod2

In [3]:
# wap to check number given by user is odd or even.
num=int(input("Enter Your number : "))
if num%2==0:
    print("MAI EVEN HU")
else:
    print("MAI ODD HU")

Enter Your number :  5

MAI ODD HU

In [ ]:
# 3.Logical operator (and,or,not)
and : return True if all condition are becomes true ,otherwise false
or : return True if any condition are becomes true ,otherwise false
not : its reverse the result.

In [7]:
# and 
num1=30
num2=40
res=(num1<num2) and (num1 > 20) and (34>33) and (num1!=num2) and (num1==num2)
print(res)

False

In [8]:
# or
num1=30
num2=40
res=(num1<num2) or (num1 > 20) or (34>33) or (num1!=num2) or (num1==num2)
print(res)

True

In [9]:
# not
num1=30
num2=40
res=not((num1<num2) or (num1 > 20) or (34>33) or (num1!=num2) or (num1==num2))
print(res)

False

In [11]:
# or
num1=30
num2=40
res=(num1<num2) or (num1 > 20) and (34>33) or (num1!=num2) and (num1==num2)
print(res)

True

In [12]:
name1="a"
name2="A"
res=(name1>name2) and (name1<name2) and (name1!=name2)
print(res)

False

In [13]:
name1="a"
name2="A"
res=not((name1>name2) and (name1<name2) and (name1!=name2))
print(res)

True

In [19]:
# wap to check number is divisible by 2 and 4 . take input by user.
user_num=int(input("Enter Your number : "))
if (user_num % 2 == 0) and (user_num % 4 == 0):
    print("Number is divisible by 2 and 4")
else:
    print("Number is not divisble by 2 or 4")

Enter Your number :  44

Number is divisible by 2 and 4

In [36]:
# len() method.
# indexing
user_name="aman kamal"
print(len(user_name))
print(user_name[-3])

10
m

In [ ]:
# wap to take user_name and user age and mobile print length.

In [9]:
# multiple if .
num=100
if num>200:
    print("Yes-1")
if num>200:
    print("Yes-2")
if num>70:
    print("Yes-3")
if num>60:
    print("Yes-4")
if num==100:
    print("Yes-5")
else:
    print("No")

Yes-3
Yes-4
Yes-5

In [17]:
# multiple if elif else .
num=100
if num>200:
    print("Yes-1")
elif num>200:
    print("Yes-2")
elif num<70:
    print("Yes-3")
elif num<60:
    print("Yes-4")
elif num!=100:
    print("Yes-5")
else:
    print("No")

No

In [ ]:
Task
Given an integer, , perform the following conditional actions:

If  is odd, print Weird
If  is even and in the inclusive range of  to , print Not Weird
If  is even and in the inclusive range of  to , print Weird
If  is even and greater than , print Not Weird

In [6]:
# 4.Membership operator (in , not in)
my_str="this is python for cyber"
res="rc" in my_str
print(res)

True

In [7]:
my_str="this is python for cyber"
res="this" not in my_str
print(res)

False

In [30]:
user=input("Enter you name : ")
if "a" in user or "e" in user or "o" in user or "i" in user or "u" in user:
    pass
else:
    print("Consonant hai")

Enter you name :  45

Consonant hai

In [41]:
# Menu driven program.
print("""
PRESS 1 FOR ADD
PRESS 2 FOR SUB
PRESS 3 FOR MUL
""")
choice=input("Enter your choice : ")
if choice=="1":
    num1=12
    num2=13
    res=num1+num2
    print("Total :",res)
if choice=="2":
    num1=12
    num2=13
    res=num1-num2
    print("Total :",res)
else:
    print("INVALID OPTION âŒ")

PRESS 1 FOR ADD
PRESS 2 FOR SUB
PRESS 3 FOR MUL

Enter your choice :  2

Total : -1

In [1]:
# Wap to check the sentence given by user is contains any digits.

# Wap to check the password given by user is strong password or weak password on the basis 
# is password special character like !#@&.

# Wap to check the email give by user is valid or not valid.

In [13]:
# 5.Identity operator (is , is not).
a=25
b=25
print(id(a),id(b))
print(a is b)

140729685538472 140729685538472
True

In [22]:
a="hello"
b="hello"
c="hello"
d="hello"
print(id(a),id(b),id(c),id(d))
print(a is d)

1986699032304 1986699032304 1986699032304 1986699032304
True

In [29]:
# 6.Assignment operator (+=,*= etc..)
a=20
a=a+10 # standard method
a=a*10
a=a-100
print(a)

200

In [28]:
a=20
a+=10 # shorthand method
a*=10
a-=100
print(a)

200

In [36]:
# nested if elif else.
marks=100
if marks>90:
    sub="maths"
    if sub=="maths":
        print("pass")
    else:
        print("Fail in math")
else:
    print("Fail")

pass

In [ ]:
# UPSC.
# PRE->MAIN->INTER->SELECTION

# Criteria
# PRE=300
# MAIN=500
# INTER=600

In [1]:
# Wap to find the greatest number among three numbers and number given user.

# Wap to find the middle number among three numbers and number given by user.

# Wap to find the greatest number among three numbers and number given user
# without using logical opr.

# Check given year by user is leap year or not leap year.